 <head>
  <title>
    <% if content_for?(:title) %>
      <%= yield :title %> |
    <% end %>
    Alistair Divorty
  </title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <meta name="robots" content="noindex">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= favicon_link_tag asset_path('Afavicon.ico') %>
  <%= stylesheet_link_tag  'application', media: 'all' %>
  <%= stylesheet_pack_tag  'application', media: 'all' %>
  <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
</head>
